.nav__wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  padding: 1rem 2rem;

  background: #379DFA;
}

.nav__wrapper nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__wrapper h2 {
  font-weight: bold;
  font-size: 2rem;

  text-transform: uppercase;
}

.generic__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  max-width: 200px;

  padding: min(15vh, 16rem) 0 0;
  margin: auto;
}

.generic__form h1 {
  padding-bottom: 1rem;

  font-size: 2.5rem;
}

input {
  border-bottom: #a5abb670 solid 1px;

  margin: 0;
  transition: border-bottom-color 0.3s;
}

input:focus-visible {
  outline: none;
  border-bottom-color: #565b64;
}

button {
  width: 100%;

  padding: 0.5rem;

  background-color: #379dfa !important;
  border-radius: 1rem;
  transition: background-color 0.3s;
}
button:hover {
  background-color: lighten(#379dfa, 5%) !important;
}

.sign-in__error {
  color: #e33c3c;
}
